<h2 class="centerText">Periodos Escolares</h2>

<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Parciales</th>
                <th>Tipo</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let period of periods" [routerLink]="['/periodos/edit', period.id]">
                <td class="left">{{ period.from }}</td>
                <td>{{ period.to }}</td>
                <td>{{ period.partials }}</td>
                <td>{{ period.period_type_view }}</td>
            </tr>
        </tbody>
    </table>

</div>


<div class="botonFloat" [routerLink]="['/periodos/create']">
    <a class="botonA" matTooltip="Crear"><i class="material-icons">add</i></a>
</div>


<router-outlet></router-outlet>