<h2 class="centerText">Periodos Escolares</h2>

<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Parciales</th>
                <th>Nivel Escolar</th>
                <th>Tipo</th>
                <th>Opciones</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let period of periods">
                <td class="left">{{ period.from | dateformat }}</td>
                <td>{{ period.to | dateformat }}</td>
                <td>{{ period.partials }}</td>
                <td>{{ period.school_level_view }}</td>
                <td>{{ period.period_type_view }}</td>
                <td>
                    <i class="material-icons" [routerLink]="['./edit', period.id]">edit</i>
                    <i class="material-icons" [routerLink]="['./delete', period.id]">delete</i>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="botonFloat" [routerLink]="['/periodos/create']">
    <a class="botonA" matTooltip="Crear"><i class="material-icons">add</i></a>
</div>


<router-outlet (deletedPer)='deletedPer($event)'></router-outlet>