<h2 class="centerText">Solicitudes de Falta</h2>

<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Asunto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Aprovado</th>

            </tr>
            <!-- <th colspan="3">Opciones</th> -->
        </thead>
        <tbody>
            <tr *ngFor="let permission of permissions" [routerLink]="['./ver', permission.id]">
                <td class="left">{{ permission.user_name }}</td>
                <td>{{ permission.subject }}</td>
                <td>{{ permission.from }}</td>
                <td>{{ permission.to }}</td>
                <td *ngIf="permission.confirmed == null"><i class="material-icons">check_box_outline_blank</i></td>
                <td *ngIf="permission.confirmed == true"><i class="material-icons">check_box</i></td>
                <td *ngIf="permission.confirmed == false"><i class="material-icons">cancel</i></td>
            </tr>
        </tbody>
    </table>

</div>

<router-outlet></router-outlet>