<div class="chatContainer" id="chat">

    <div class="searchChatDiv">

        <div class="searchPart">

            <div class="divSearch">
                <input class="l6" [(ngModel)]="search" (keyup)="searchTimer()" placeholder="Buscar Contacto" name="search" type="search">

                <br>
                <!-- <mat-icon *ngIf="search.searchWord == ''">search</mat-icon>
        <mat-icon *ngIf="search.searchWord !== ''" (click)="search.searchWord = ''">close</mat-icon> -->
            </div>

        </div>

        <div class="conversationsContainer">

            <div class="conversation" *ngFor="let contact of contactsSearch" (click)="selectConversation(contact)">

                <div class="imgAvatar">

                    <img *ngIf="contact.img == null" src="https://www.w3schools.com/w3css/img_avatar3.png">
                    <img *ngIf="contact.img != null" src="{{url.basicUrl}}images/aplication/users/{{ contact.img }}">

                </div>

                <div class="information">

                    <h5>{{ contact.full_name}}</h5>
                    <p>{{ contact.conversation.getLastMessagePreview() }}</p>

                    <div class="conversationInf">

                        <p *ngIf="contact.conversation.messages.length > 0">{{ contact.conversation.getLastMessageTime() }}</p>
                        <div *ngIf="contact.conversation.unreaded > 0"> {{ contact.conversation.unreaded }}</div>

                    </div>

                </div>

            </div>




        </div>

    </div>

    <div class="chatSelectedContainer">

        <div class="backgroundWaitingSelect" *ngIf="chat.id == null">

        </div>

        <div class="conversationComponent" *ngIf="chat.id != null">

            <div class="chatHeader">

                <div class="chatImg">

                    <img *ngIf="chat.img == null" src="https://www.w3schools.com/w3css/img_avatar3.png">
                    <img *ngIf="chat.img != null" src="{{url.basicUrl}}images/aplication/users/{{ chat.img }}">

                </div>

                <div class="chatName">

                    <h5>{{ chat.full_name}}</h5>

                </div>
            </div>

            <div class="messagesContainer" id="chatS">

                <div class="bubbleContainer" *ngFor="let mes of chat.conversation.messages" [ngClass]="{ 'me': mes.from_id == userLog.id}">
                    <div class="bubble" [ngClass]="{ 'chargeError': mes.id < -10 }">{{ mes.message }}</div>
                </div>

            </div>

            <form class="writer" (submit)="sendMessage()" autocomplete="off">
                <input type="text" [(ngModel)]="message.message" name="message">
                <div (click)="sendMessage()"> <i class="material-icons">send</i></div>
            </form>

        </div>

    </div>
</div>