.loginCardModule {
    border-radius: 3px;
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    background: white;
    padding: 10px 20px 60px 20px;
    z-index: 10;
    position: relative;
    width: 300px;
}

.cardSpace {
    background: white;
    background-image: url(https://thumbs.dreamstime.com/b/seamless-school-background-20246066.jpg);
}

.alert {
    color: red;
}

#logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#bienvenida {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    color: rgb(73, 73, 73);
}

#formSpace {
    padding: 0 15px
}

input {
    width: 100%;
    border: none;
    background: #ECECEC;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

#btnLog {
    position: absolute;
    /* z-index: 12; */
    opacity: 0;
}

#btnLogin:hover {
    background: #6b0f11;
}

#btnLog:focus+div {
    background: #6b0f11;
}

#btnLogin {
    background: #6b0f11;
}

#btnFacebook {
    border: none;
    background: #0263FF;
    /* font-weight: bold; */
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: white;
    z-index: 13;
    display: block;
    text-align: center;
    cursor: pointer;
}

.registrateSection span {
    font-size: 12px;
    display: inline-block;
    margin-right: 4px;
}

.registrateSection a button {
    float: right;
    opacity: 1;
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    vertical-align: baseline;
}

@media screen and (max-width:600px) {
    .cardSpace {
        background-image: none;
        padding: none;
        display: block;
        background: white;
    }
    .loginCardModule {
        border-radius: 0px;
        width: 100%;
        -webkit-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        background: white;
        padding: 20px;
        z-index: 10;
        position: relative;
        max-width: none;
    }
}