<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <i class="material-icons">close</i>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2 class="centerText">Crear Recibo</h2>

        <form class="flexRow" autocomplete="off" *ngIf="form == 1">

            <div class="formData l3">
                <label>ID:</label><br>
                <input [(ngModel)]="student.id" name="id" type="number" (keyup)="getUserById($event)">
                <small class="error" *ngIf="idMessage != null">{{ idMessage }}</small>
            </div>

            <div class="formData l9">
                <label>Nombre:</label><br>
                <input [(ngModel)]="student.name" name="name" type="text" [matAutocomplete]="auto" (keyup)="searchSugest($event)">
                <!-- <small class="error" *ngIf="edit.validations.from == 1">Requerido</small>
                <small class="error" *ngIf="edit.validations.from == 2">La fecha tiene que ser menor al Fin del periodo</small> -->
            </div>

            <div class="formData l6 m6">
                <label>Apellido Paterno:</label><br>
                <input [(ngModel)]="student.patern_surname" name="patern_surname" type="text" [matAutocomplete]="auto" (keyup)="searchSugest($event)">
                <!-- <small class="error" *ngIf="edit.validations.from == 1">Requerido</small>
                <small class="error" *ngIf="edit.validations.from == 2">La fecha tiene que ser menor al Fin del periodo</small> -->
            </div>

            <div class="formData l6 m6">
                <label>Apellido Materno:</label><br>
                <input [(ngModel)]="student.matern_surname" name="matern_surname" type="text" [matAutocomplete]="auto" (keyup)="searchSugest($event)">
                <!-- <small class="error" *ngIf="edit.validations.from == 1">Requerido</small>
                <small class="error" *ngIf="edit.validations.from == 2">La fecha tiene que ser menor al Fin del periodo</small> -->
            </div>

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let stu of sugestUsers" (onSelectionChange)="setUserSelected(stu)">
                    {{ stu.name }} {{ stu.patern_surname }} {{ stu.matern_surname }}
                </mat-option>
            </mat-autocomplete>

            <!-- <div class="formData l4 m6">
                <label>Monto:</label><br>
                <input [(ngModel)]="receipt.amount" name="amount" type="number" disabled>
            </div>

            <div class="formData l4 m6">
                <label>Tipo:</label><br>
                <select [(ngModel)]="receipt.receipt_type" name="receipt_type" type="number">
                  <option value="1"> {{ 1 | receiptType }}</option>
                  <option value="2"> {{ 2 | receiptType }}</option>
                </select>
                
            </div> -->

        </form>

        <div class="confirmCancel l12" *ngIf="form == 1">
            <button class="btn l4" (click)="cancelUserSearch()">Cancelar</button>
            <button class="btn l4 btnAccept" (click)="continueUserSelected()">Continuar</button>
        </div>

        <div *ngIf="form == 2">
            <h5> {{ student.name }} {{ student.patern_surname }} {{ student.matern_surname }}</h5>
            <p>Grado: {{ student.grade }} </p>
            <p>Nivel Escolar: {{ student.school_level_id | schoolLevelGroup }} </p>

            <h3>Pagos</h3>
            <div class="responsive-table">
                <table align="center">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th>Fecha de Pago</th>
                            <th>Opciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let receipt of receipts">
                            <td class="left">{{ receipt.user_name }}</td>
                            <td>{{ receipt.amount }}</td>
                            <td>{{ receipt.receipt_type }}</td>
                            <td>{{ receipt.created_at }}</td>

                            <td>
                                <i class="material-icons" [routerLink]="['./edit', receipt.id]">edit</i>
                                <i class="material-icons" [routerLink]="['./delete', receipt.id]">delete</i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>