<div class="background" [@background]>
</div>
<div id="createCard" @principal>

    <a [routerLink]="['../../']">
        <div id="cerrarBtn"> Cerrar <i class="material-icons">close</i></div>
    </a>


    <div class="form">
        <h1 align="center">Editar Periodo<br> {{ original.from }} - {{ original.to }}</h1>

        <div class="container">
            <form class="flexRow" (submit)="editPeriod()" enctype="multipart/form-data" autocomplete="off">

                <div class="formData l4 m6">
                    <label>Cantidad de Parciales:</label><br>
                    <input [(ngModel)]="edit.partials" name="partials" disabled>
                    <small class="error" *ngIf="edit.validations.partials == 1">Requerido/ Mayor a 0</small>
                </div>



                <div class="formData l4 m6">
                    <label>Inicio del Periodo:</label><br>
                    <input [(ngModel)]="edit.from" name="from" type="date" [ngClass]="{ 'inputError': edit.validations.from > 0 }">
                    <small class="error" *ngIf="edit.validations.from == 1">Requerido</small>
                    <small class="error" *ngIf="edit.validations.from == 2">La fecha tiene que ser menor al Fin del periodo</small>
                </div>

                <div class="formData l4 m6">
                    <label>Fin del Periodo:</label><br>
                    <input [(ngModel)]="edit.to" name="to" type="date" [ngClass]="{ 'inputError': edit.validations.to > 0 }">
                    <small class="error" *ngIf="edit.validations.to == 1">Requerido</small>
                    <small class="error" *ngIf="edit.validations.to == 2">La fecha tiene que ser Mayor al Inicio del periodo</small>
                </div>

                <div class="formData l4 m6">
                    <label>Tipo de Periodo:</label><br>
                    <select [(ngModel)]="edit.period_type_id" name="period_type_id" disabled>
                        <option *ngFor="let type of periodTypes" value="{{type.id}}">{{ type.name }}</option>
                    </select>
                </div>

                <div class="formData l4 m6">
                    <label>Nivel Academico</label><br>
                    <select [(ngModel)]="edit.school_level_id" name="school_level_id" disabled>
                        <option *ngFor="let level of schoolLevels" value="{{level.id}}">{{ level.name }}</option>
                    </select>
                    <small class="error" *ngIf="edit.validations.schoolLevel == 1">Requerido</small>
                </div>

                <div class="formData l4 m6">
                    <label>Status</label><br>
                    <select [(ngModel)]="edit.status" name="status">
                        <option *ngFor="let stat of status" value="{{stat.id}}">{{ stat.title }}</option>
                    </select>
                    <small class="error" *ngIf="edit.validations.schoolLevel == 1">Requerido</small>
                </div>


            </form>


            <form (submit)="editPeriod()">
                <div *ngFor="let part of edit.partialsArray" class="flexRow">

                    <h4 class="centerText l12"> Parcial #{{ part.partial }}</h4>

                    <div class="formData l6 m6">
                        <label>Inicio del Parcial</label><br>
                        <p (click)="editPartial(part.id)" *ngIf="!part.edit">{{ part.from }}</p>
                        <input *ngIf="part.edit" [(ngModel)]="part.from" name="from" type="date" [ngClass]="{ 'inputError': part.validations.from > 0 }">
                        <small class="error" *ngIf="part.validations.from == 1">Requerido</small>
                        <small class="error" *ngIf="part.validations.from == 2">La fecha tiene que ser Menor al Final del parcial</small>
                    </div>

                    <div class="formData l6 m6">
                        <label>Fin del Parcial:</label><br>
                        <p (click)="editPartial(part.id)" *ngIf="!part.edit">{{ part.to }}</p>
                        <input *ngIf="part.edit" [(ngModel)]="part.to" name="to" type="date" [ngClass]="{ 'inputError': part.validations.to > 0 }">
                        <small class="error" *ngIf="part.validations.to == 1">Requerido</small>
                        <small class="error" *ngIf="part.validations.to == 2">La fecha tiene que ser Mayor al Inicio del parcial</small>
                    </div>



                </div>

                <button *ngIf="!request" type="submit" class="btn btnAccept">Editar Periodo</button>
                <button *ngIf="request" type="submit" class="btn" disabled>Editar Periodo</button>


            </form>


        </div>
    </div>