<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <i class="material-icons">close</i>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2 class="centerText">Permiso</h2>

        <div class="options">
            <i *ngIf="permission.confirmed == null" class="material-icons" (click)="edit = !edit">edit</i>
            <i *ngIf="permission.confirmed == null" class="material-icons">delete</i>
        </div>


        <form (submit)="update()" class="flexRow" autocomplete="off" *ngIf="edit">

            <div class="formData l12">
                <label>Hijo:</label>
                <select [(ngModel)]="permission.user_id" name="user_id" disabled>
                  <option *ngFor="let user of children" value="{{user.id}}"> {{ user.name }}  {{ user.patern_surname }} {{ user.matern_surname }}</option>
                </select>
            </div>

            <div class="formData l12">
                <label>Asunto:</label><br>
                <input (keyup)="permission.upperSubject()" [(ngModel)]="permission.subject" name="name" type="text" [ngClass]="{ 'inputError': permission.validations.subject > 0}">
                <small class="error" *ngIf="permission.validations.subject == 1">Requerido</small>
            </div>

            <div class="formData l6 m6">
                <label>De la Fecha:</label><br>
                <input [(ngModel)]="permission.from" name="from" type="date" [ngClass]="{ 'inputError': permission.validations.from > 0}">
                <small class="error" *ngIf="permission.validations.from == 1">Requerido</small>
                <small class="error" *ngIf="permission.validations.from == 2">Tiene que ser Menor a la primera fecha</small>
            </div>

            <div class="formData l6 m6">
                <label>A la Fecha:</label><br>
                <input [(ngModel)]="permission.to" name="to" type="date" [ngClass]="{ 'inputError': permission.validations.to > 0}">
                <small class="error" *ngIf="permission.validations.to == 1">Requerido</small>
                <small class="error" *ngIf="permission.validations.to == 2">Tiene que ser Mayor a la primera fecha</small>
            </div>


            <div class="formData l12">
                <label>Descripción:</label><br>
                <textarea [(ngModel)]="permission.description" name="description" [ngClass]="{ 'inputError': permission.validations.description > 0}"></textarea>
                <small class="error" *ngIf="permission.validations.description == 1">Requerido</small>
            </div>

            <button *ngIf="request == 0" type="submit" class="btn btnAccept">Guardar</button>
            <button *ngIf="request !== 0" type="submit" class="btn " disabled>Guardar</button>

            <br><br><br>

        </form>

        <form class="flexRow" *ngIf="!edit">

            <div class="formData l12">
                <label>Hijo:</label>
                <select [(ngModel)]="permission.user_id" name="user_id" disabled>
                  <option *ngFor="let user of children" value="{{user.id}}"> {{ user.name }}  {{ user.patern_surname }} {{ user.matern_surname }}</option>
                </select>
            </div>

            <div class="formData l12">
                <label>Asunto:</label><br>
                <input [(ngModel)]="permission.subject" name="name" type="text" disabled>
            </div>

            <div class="formData l6 m6">
                <label>De la Fecha:</label><br>
                <input [(ngModel)]="permission.from" name="from" type="date" disabled>
            </div>

            <div class="formData l6 m6">
                <label>A la Fecha:</label><br>
                <input [(ngModel)]="permission.to" name="to" type="date" disabled>

            </div>


            <div class="formData l12">
                <label>Descripción:</label><br>
                <textarea [(ngModel)]="permission.description" name="description" disabled></textarea>

            </div>



        </form>


        <app-parent-permission-dropbox [permission]="permission" *ngIf="permission.confirmed == null"></app-parent-permission-dropbox>



        <div class="photoContainer">
            <img *ngFor="let photos of permission.photos" src="{{ photos.path }}">
        </div>




    </div>

</div>