<div class="chatContainer" id="chat">

    <div class="searchChatDiv">

        <div>

            <div class="divSearch">
                <input class="l6" [(ngModel)]="search" (keyup)="searchTimer($event)" placeholder="Nombres" name="search" type="search">

                <br>
                <!-- <mat-icon *ngIf="search.searchWord == ''">search</mat-icon>
        <mat-icon *ngIf="search.searchWord !== ''" (click)="search.searchWord = ''">close</mat-icon> -->
            </div>

        </div>

        <div class="conversationsContainer">

            <div class="conversation">

                <div class="imgAvatar">

                    <img src="https://www.w3schools.com/w3css/img_avatar3.png">

                </div>

                <div class="information">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eius enim in aliquam </p>

                    <div class="conversationInf">

                        <p>01/05/2017</p>
                        <p>05:32 AM</p>
                        <div>1</div>

                    </div>

                </div>

            </div>

            <div class="conversation">

                <div class="imgAvatar">

                    <img src="https://www.w3schools.com/w3css/img_avatar3.png">

                </div>

                <div class="information">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eius enim in aliquam </p>

                    <div class="conversationInf">

                        <p>01/05/2017</p>
                        <p>05:32 AM</p>
                        <div>1</div>

                    </div>

                </div>

            </div>

            <div class="conversation">

                <div class="imgAvatar">

                    <img src="https://www.w3schools.com/w3css/img_avatar3.png">

                </div>

                <div class="information">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eius enim in aliquam </p>

                    <div class="conversationInf">

                        <p>01/05/2017</p>
                        <p>05:32 AM</p>
                        <h5>1</h5>

                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="chatSelectedContainer">

        <div class="backgroundWaitingSelect">

        </div>

    </div>
</div>