.divSearch {
    width: 90%;
}

.divSearch input {
    width: 100%;
}

.searchPart {
    background: #fbfbfb;
}

.backgroundWaitingSelect {
    background-image: url(https://thumbs.dreamstime.com/b/seamless-school-background-20246066.jpg);
    width: 100%;
    height: 100%;
}

.searchChatDiv {
    width: 300px;
    height: 100%;
}

.chatSelectedContainer {
    height: 100%;
    min-height: 50vh;
    width: 60%;
}

.chatContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: -44px;
}

.conversation {
    display: flex;
    height: 70px;
    overflow: hidden;
    border-bottom: 1px solid #eeecec;
    cursor: pointer;
    background: white;
    transition: .4s;
    width: 100%;
}

.conversation:hover {
    background: #f1f1f1;
}

.imgAvatar {
    width: 59px;
    display: block;
    padding: 10px;
    padding-right: 0;
}

.imgAvatar img {
    display: block;
    /* width: 100%; */
    height: 100%;
    border-radius: 50%;
}

.information {
    width: 100%;
    padding: 10px;
    padding-right: 67px;
    position: relative;
}

.information p {
    margin: 0;
    font-size: 11px;
}

.conversationInf {
    position: absolute;
    top: 9px;
    right: 6px;
    font-size: 9px;
}

.conversationInf div {
    display: block;
    width: max-content;
    background: #2cda2c;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    width: 12px;
    height: 13px;
    color: white;
    margin: 0 auto;
}

.chatHeader {
    display: flex;
    padding: 10px;
    height: 70px;
    justify-content: flex-start;
    background: #16848b;
    z-index: 2;
}

.chatImg {
    /* padding: 7px; */
    width: 50px;
}

.chatImg img {
    border-radius: 50%;
    height: 100%;
}

.chatName {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.chatName h5 {
    font-size: 21px;
    margin: 0;
    color: white;
}

.conversationComponent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messagesContainer {
    height: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/seamless-school-background-20246066.jpg);
    display: flex;
    align-items: flex-end;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    overflow-y: scroll;
}

.bubbleContainer {
    padding: 0 10px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 7px;
    width: 100%;
}

.bubble {
    display: block;
    max-width: 80%;
    background: white;
    border-radius: 8px;
    padding: 7px;
}

.bubbleContainer.me {
    justify-content: flex-end;
}

.bubbleContainer.me .bubble {
    background: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.bubbleContainer.me .chargeError {
    background: #f7b0b0;
}

.writer {
    padding: 15px;
    display: flex;
    align-items: center;
    background: #f5f1ee;
}

.writer input {
    margin: 0;
    background: white;
}

.writer div {
    border-radius: 50%;
    background: #48a348;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 15px;
}

.writer div i {
    color: white;
    position: relative;
    top: 7px;
    font-size: 21px;
}