<h2 class="centerText">Administracion de Pagos</h2>

<div class="paymentsContainer">

    <div *ngFor="let pay of payments" class="payment">
        <div>
            <h4> {{ pay.name.toUpperCase() }}</h4>
            <p>Cantidad de pagos: <span>#{{ pay.quantity }}</span></p>
            <p>Monto: <span>${{ pay.amount }}</span></p>
            <p>Tipo: <span>{{ pay.period_type_view }}</span></p>
            <p>Nivel Escolar: <span>{{ pay.school_level_view }}</span></p>
        </div>


        <button class="btn btnAccept" [routerLink]="['./date', pay.id]">Administrar Fecha de Pagos</button>

    </div>


</div>


<div class="botonFloat" [routerLink]="['./create']">
    <a class="botonA" matTooltip="Crear"><i class="material-icons">add</i></a>
</div>

<router-outlet></router-outlet>