<div class="background" [@background]>
</div>
<div id="createCard" @principal>

    <a [routerLink]="['../../']">
        <div id="cerrarBtn"> Cerrar <i class="material-icons">close</i></div>
    </a>


    <div class="form container">
        <h1 align="center">Crear Grupos</h1>
        <h2 align="center">Del periodo {{ period.from }} / {{ period.to }} PeriodoTipo {{ period.period_type_id }}</h2>

        <div class="flexRow">

            <div class="formData l6">

                <button *ngIf="request == 0 && period.school_level_id < 2" class="btn btnAccept" (click)="createAllGroups()">Crear Todos los Grupos</button>
                <button *ngIf="request > 0 && period.school_level_id < 2" class="btn" disabled>Crear Todos los Grupos</button>

                <button *ngIf="request == 0 && period.school_level_id > 1" (click)="createFirstPreparatoriaPeriod()">Preparatoria Primer Periodo</button>
                <button *ngIf="request == 0 && period.school_level_id > 1" (click)="createSecondPreparatoriaPeriod()">Preparatoria Primer Periodo</button>
            </div>

            <form (change)="setGroupNewGroup()" (submit)="storeSingleGroup()" class="flexRow l6" autocomplete="off">

                <div class="formData l6 m6">
                    <label>Grado</label><br>

                    <input [(ngModel)]="newGroup.grade" name="grade" type="number" (keyup)="newGroup.gradeManipulator()" [ngClass]="{ 'inputError': newGroup.validations.grade > 0, 'inputValidate': newGroup.validations.grade < 0 }">
                    <small class="error" *ngIf="newGroup.validations.grade == 1">Requerido *</small>
                    <!-- <small class="error" *ngIf="date.validations.date == 2">La fecha tiene que estar dentro del periodo</small> -->
                </div>

                <div class="formData l4 m4">
                    <label>Nivel Escolar</label><br>
                    <input [(ngModel)]="newGroup.level_view" name="level_view" disabled>


                </div>

                <div class="formData l4 m4">
                    <label>Grupo</label><br>
                    <input [(ngModel)]="newGroup.group_view" name="group_view" disabled>
                </div>

                <button *ngIf="request == 0" type="submit" class="btn btnAccept">Crear Grupo</button>
                <button *ngIf="request > 0" type="submit" class="btn" disabled>Crear Grupo</button>


            </form>


        </div>





        <div class="container">



        </div>
    </div>

    <div class="responsive-table">
        <table align="center">
            <thead>
                <tr>
                    <th>Grado</th>
                    <th>Grupo</th>
                    <th>Nivel</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let g of groups">
                    <td>{{ g.grade }}</td>
                    <td>{{ g.group_view }}</td>
                    <td>{{ g.level_view }}</td>

                    <td>
                        <i class="material-icons" (click)="deleteGroup(g)">delete</i>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>