<!-- [ngClass]="{ 'active': menuBoolean }" -->

<div class="shadow" id="shadowMenu" (click)="menuAction()"></div>

<nav class="nav bodyMove" id="bodyMove1">

    <div class="logo lines">
        <a href="{{url.basicUrl}}">
            <img src="{{url.basicUrl}}images/logo.png">
        </a>
    </div>

    <div class="links">

        <div [routerLink]="['./myAlbums']" class="lines">
            <p>Mis Albumes</p>
        </div>

        <div (click)="cerrarSesion()" class="lines">
            <p>Cerrar Sesión</p>
        </div>

    </div>

    <div class="menuIcon lines" (click)="menuAction()">
        <i class="material-icons">menu</i>
    </div>
    <!-- <button (click)='sideNav()'>Menu</button> -->

</nav>


<div class="menuPhone">
    <img class="logoPrincipal" <img src="{{url.basicUrl}}images/logo.png">

    <div class="moveLinks">
        <a [routerLink]="['./myAlbums']" (click)="menuAction()">
            <p>Mis Albumes</p>
        </a>

        <a (click)="cerrarSesion()">
            <p (click)="menuAction()">Cerrar Sesión</p>
        </a>

        <a href="{{url.basicUrl}}" (click)="menuAction()">
            <p>Regresar a la pagina</p>
        </a>
    </div>

    <img class="logoBottom" src="http://www.lilianapineda.com/images/logo/rueda.png">
</div>





<div class="sideNav" [@menu]='stateMenu'>
    <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYiLcbhsWY4HlvDpIMKzJP2OB-QG0yYopa1_lhsgA7CErzcxkG)" id="userInfSection">
        <div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png">
            <p>{{userData.getName() | lowercase}}</p>
            <p id="emailInf">{{userData.getEmail() | lowercase}}</p>
            <div id="userTypeInf">
                <p *ngIf="userData.getUserType() == 0">Cliente</p>
                <p *ngIf="userData.getUserType() == 1">Administrador</p>


            </div>

        </div>
    </div>




</div>

<!-- <div class="principal" [@space]="statePanel"> -->
<div class="principalCard" id="bodyMove2">

    <router-outlet></router-outlet>

</div>

<!-- </div> -->

<app-notification></app-notification>