<!-- [ngClass]="{ 'active': menuBoolean }" -->

<!-- <div class="shadow" id="shadowMenu" (click)="menuAction()"></div> -->

<nav class="nav bodyMove" id="bodyMove1">

    <div class="logo lines">
        <a href="{{url.basicUrl}}">
            <img src="{{url.basicUrl}}images/logo.png">
        </a>
    </div>

    <div class="links">


        <div (click)="cerrarSesion()" class="lines">
            <p>Cerrar Sesión</p>
        </div>

    </div>

    <div class="menuIcon lines" (click)="menuAction()">
        <i class="material-icons">menu</i>
    </div>
    <!-- <button (click)='sideNav()'>Menu</button> -->

</nav>


<div class="menuPhone">
    <img class="logoPrincipal" src="{{url.basicUrl}}images/logo.png">

    <div class="moveLinks">
        <a [routerLink]="['./myAlbums']" (click)="menuAction()">
            <p>Mis Albumes</p>
        </a>

        <a (click)="cerrarSesion()">
            <p (click)="menuAction()">Cerrar Sesión</p>
        </a>

        <a href="{{url.basicUrl}}" (click)="menuAction()">
            <p>Regresar a la pagina</p>
        </a>
    </div>

    <img class="logoBottom" src="http://www.lilianapineda.com/images/logo/rueda.png">
</div>





<div class="sideNav" [@menu]='stateMenu'>
    <div id="userInfSection">
        <div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png">
            <p>{{userData.getName() | lowercase}} </p>
            <p id="emailInf">{{ userData.getEmail() | lowercase}}</p>
            <div id="userTypeInf">

                <p *ngIf="userData.getUserType() == 1">Alumno</p>
                <p *ngIf="userData.getUserType() == 2">Padre/Madre</p>
                <p *ngIf="userData.getUserType() == 3">Profesor</p>
                <p *ngIf="userData.getUserType() == 4">Cajero</p>
                <p *ngIf="userData.getUserType() == 5">Administrador</p>


            </div>

        </div>
    </div>

    <h5>APLICACIÓN</h5>
    <ul>

        <li [routerLink]="['/resume']"><button>Inicio</button></li>

        <li [routerLink]="['/users']"><button>Usuarios</button></li>
        <li [routerLink]="['/periodos']"><button>Periodos Escolares</button></li>
        <li [routerLink]="['/administracion-de-pagos']"><button>Administracion de Pagos</button></li>
        <li [routerLink]="['/grupos']"><button>Grupos Escolares</button></li>
        <li [routerLink]="['/materias']"><button>Lista de Materias</button></li>

        <li [routerLink]="['/schedules']"><button>Horarios</button></li>

        <li [routerLink]="['/receipt']"><button>Recibos</button></li>

        <li [routerLink]="['/events']"><button>Eventos</button></li>


    </ul>
    <h5>USUARIO</h5>
    <ul>
        <li><button mat-button (click)="cerrarSesion()">Cerrar Sesión</button></li>

    </ul>




</div>

<div class="principal" [@space]="statePanel">
    <div class="principalCard" id="bodyMove2">

        <router-outlet></router-outlet>

    </div>

</div>

<app-notification></app-notification>